@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  
  color: rgb(var(--foreground-rgb)); 
  background-color: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.image {
  transition: filter 0.3s ease;
  filter: blur(10px);
}

.image.visible {
  filter: blur(0);
}
